:root {
    --color1: white;
    --button-width-fraction: 0.90;
}

#portrait {
    height: 10rem;
    width: 10rem;
    background-image: url(portrait.jpg);
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    margin: 1rem;
}


/* #test {
  background-color: green;
} */

h1 {
    color: var(--color1);
    font-size: x-large;
    font-family: 'Karla', serif;
    margin: 1rem 0 3rem 0;
}

a.button {
    /* padding: 3vw; */
    font-size: large;
    font-family: 'Karla', serif;
    font-weight: bold;
    color: var(--color1);
    border-style: solid;
    border-color: var(--color1);
    border-radius: 10px;
    width: 95%;
    padding: 1rem;
    background: none;
    margin: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    a.button {
        width: calc(var(--button-width-fraction) * 500px);
    }
    svg {
        height: calc(0.8 * 500px);
    }
}

a:link {
    text-decoration: none;
    color: var(--color1);
}

a:visited {
    text-decoration: none;
    color: var(--color1);
}

a:hover {
    text-decoration: none;
    color: var(--color1);
}

a:active {
    text-decoration: none;
    color: var(--color1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4e4e4e;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

svg {
    height: 3rem;
    margin: 0 2rem 0 2rem;
}

#venmo {
    height: 1rem;
}

#venmo-color,
#YT,
#IG {
    fill: var(--color1);
}

#YT-play {
    fill: #4e4e4e;
}